// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.nav-underline {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

.nav-underline:hover {
  opacity: 0.7;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #ffff;
}

/* mainに「伸びる役」をさせる */
main {
    flex: 1;
}

/* フッターは一番下へ */
footer {
    margin-top: auto;
    height: 60px;               /* 高さがある前提 */
  display: flex;
  align-items: center;        /* ← 縦中央 */
  justify-content: center;    /* ← 横中央 */
}



/* sign in */

.title{
    display: inline-block;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

/* home.php */
.hero-wrapper{
    height: 500px;
    background-size: cover;
    position: relative;
    margin-top: 0;

}
.hero-wrapper h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 完全中央 */
    color: #fff;              /* 文字色 */
    font-size: 5rem;          /* 好みで */
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.recipe-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: .3s ease;
}

a:hover{
    text-shadow: 0 8px 20px rgba(18, 18, 18, 0.15);
}

.mypage-icon{
    font-size: 7rem;
    text-align: center;
    display: inline-block;
}
.profile-img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
}
.profile-photo{
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    border: 1px solid #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment{
    border: 1px solid black;
    height: 7rem;
}
.modal-body
.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.nav{
    color: black;
    display: inline-block;
    font-weight: bold;

}

.form-text {
  font-size: 0.85rem;
}

.card{
    display: flex;
  flex-direction: column;
  height: 100%;
}
.recipe-card-body {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  flex: 1 1 auto;
 
}

.recipe-img{
     height: 220px;
  width: 100%;
  object-fit: cover;
}

.show-recipe-img{
    height: 300px;
    object-fit: cover;
}

.recipe-body {
  white-space: pre-line;
  flex: 1 1 auto;
  min-height: 0;
}

.card-footer {
  margin-top: auto;
}






